body {
  background: #ffdbe0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #d69c5d;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  color: #ecbc88;
}
h1 {
  text-align: center;
  font-size: 50px;
}
h3 {
  text-align: center;
}
img {
  width: 30%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
.mail {
  text-decoration: none;
  color: rgb(242, 110, 110);
}
p {
  text-align: center;
}
